*.txt
volpesbotstufftotest.ahk
temp.ahk
NOOBS CMDR Scripts/
Emotes/
Files/Settings.ahk
RewardRedeems.ahk
Gifs/
Files/CustomCommands.ini
twitchclientsecret.txt
twitchappoauthtoken.txt
Files/BanList.ahk
